---
import {getCollection} from 'astro:content'

import Ingredient from '../../components/Ingredient.astro'
import ArticleLayout from '../../layouts/ArticleLayout.astro'

export async function getStaticPaths() {
    const recipes = await getCollection('recipes')
    return recipes.map((recipe) => ({
        params: {slug: recipe.slug},
        props: {
            recipe,
        },
    }))
}

const {recipe} = Astro.props
const {name, ingredients} = recipe.data
const {Content} = await recipe.render()
---

<ArticleLayout frontmatter={{title: name}}>
    {ingredients.length > 0 && 
    <section>
        <h2>Ingredients</h2>
        <ul>
            {ingredients.map(ingredient => (
                <li>
                    <Ingredient ingredient={ingredient} />
                </li>
            ))}
        </ul>
    </section>
    }

    <Content/>
</ArticleLayout>
